# Ambiente virtual
.venv/

# Variáveis de ambiente e credenciais
.env
api/service_account.json

# Cache do Python
__pycache__/
*.pyc

# PyInstaller
*.spec
agente/build/
agente/dist/

# Arquivos específicos
wallpapers.py